/***************************/
/******** OVERRIDES ********/
/***************************/

@import "../assets/fonts/menuicons/style.css";

/*********************/ 
/****** HELPERS ******/
/*********************/ 
.hide-item { display: none; }
.redtext { color: red; }

/*********************/ 
/****** GENERAL ******/
/*********************/

.navbar.navbar-default { background: #3A5795; border-top: 1.5px solid #32102A; }
.navbar.navbar-default .container { background: #3A5795;}
.dropdown-menu > li > a { padding: 10px 20px; }
body.error404 div.page-content { min-height: 400px; }
body.blog .post { border-bottom: 1px solid #ddd; }
body.page-template .entry-header h1.entry-title { font-size: 36px; }
body.page-template .entry-content p { font-size: 16px; font-family: Arial; }
.dropdown:hover .dropdown-menu { display: block; }
.site-content { min-height: 450px; }
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%; height: 250px; }
.description.widget.widget_text div.textwidget { font-size: 12px; }
textarea#message_text { max-width: 100%; min-width: 100%; width: 100%; min-height: 100px; max-height: 200px; }
a.logout { border-radius: 0 !important; }
select#sorter { border: 1px solid #ddd !important; }
.verifiy-user { padding-bottom: 15px !important; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] { border-radius: 0 !important; border: 1px solid #ddd; }
input[type="submit"] { border-radius: 0 !important; }
textarea { border-radius: 0 !important; border: 1px solid #ddd; }
select { border-radius: 0 !important; }

.tdtracking { display: none !important; }


/**************************/ 
/******* TOP HEADER *******/
/**************************/
#topHeader { display: block; width: 100%; background: #3A5795; height: auto; }
.account { float: right; }
.account div.accountbtn { color: #fff; background: rgba(0, 0, 0, 0.5); line-height: 34px; display: inline-block; cursor: pointer; font-weight: 600; }
.account div.accountbtn:hover { color: #3A5795; background: #eee; }
.account div.accountbtn a { color: #fff; padding: 0px 15px; display: block; font-size: 14px !important; }
.account div.accountbtn a:hover { color: #3A5795 !important; }
.account div.accountbtn.open a { color: #3A5795; }

#loginDiv { width: 180px; background: #fff; border: 1px solid #1D2B4A; padding: 10px; color: #666; position: absolute; top: 34px; z-index: 10001; }
#loginDiv h3 { display: none; }
#loginDiv input { border-radius: 0 !important; }
#loginDiv input[type="submit"] { background: #3A5795; border: none; padding: 5px 15px; }
#loginDiv .costum-content { margin-bottom: 10px; }
#loginDiv .costum-content label { margin: 0; }
#loginDiv .form-group { margin: 0; padding: 0; }

.searchform { float: left; margin-right: 30px; line-height: }
.searchform .search-form.form-inline { float: left; }
.searchform input { border-radius: 0; padding: 0 5px; height: 28px; margin: 3px 0; border: 1px solid #ddd; }
.searchform button { background: #fff; color: #3A5795; border-radius: 0; height: 30px; padding: 0 8px; margin: 2px 0; }
.searchform button:hover { background: #1D2B4A; border: 1px solid #1D2B4A; }

#social { float: left; top: 0; }
#social .social-profile { font-size: 20px; color: #ddd; }
#social .social-profile:hover { color: #fff; }



/**********************/ 
/******* HEADER *******/
/**********************/
#masthead .hbox { display: inline-block; float: left; }
#masthead .site-branding { width: 21.5%; }
#masthead .header-middle { margin-left: 50px; }

#change-city-container { margin-top: 10px; min-width: 100px; display: inline-block; float: left; cursor: pointer; }
.chose-your-city { margin-top: 40px; }
.change-city-label { font-size: 12px; font-style: italic; }
.other-deals-changer { margin-top: 40px; margin-left: 2px; display: inline-block; float: left; }

input#local-deals { padding: 2px 10px; border: 0; background: #3A5795; color: #fff; border-radius: 3px !important; }
input#local-deals:hover { opacity: 0.8; }
input#national-deals { padding: 2px 8px; border: 0; background: #55ACEE; color: #fff; border-radius: 3px !important; }
input#national-deals:hover { opacity: 0.8; }
input#your-city-deals { padding: 2px 8px; border: 0; background: #55ACEE; color: #fff; border-radius: 3px !important; }
input#your-city-deals:hover { opacity: 0.8; }

.city-name .name { display: inline-block; padding: 4px; font-size: 18px; }
.city-name .name:hover { background: #eee; }
.city-changer { position: absolute; border: 1px solid #ddd; z-index: 10000; background: #fff; margin-top: 2px; margin-left: 1px; }
.city-changer input { margin: 3px; }

.ui-autocomplete-input { width: 220px !important; }
.ui-autocomplete { padding: 0; list-style: none; background-color: #fff; width: 260px; border: 1px solid #B0BECA; max-height: 350px; overflow-x: hidden; z-index: 9999; }
.ui-autocomplete .ui-menu-item { border-top: 1px solid #B0BECA; display: block; padding: 4px 6px; color: #353D44; cursor: pointer;}
.ui-autocomplete-input { border-radius: 1px !important; padding: 1px !important;}
.ui-autocomplete .ui-menu-item:first-child { border-top: none; }
.ui-autocomplete .ui-menu-item.ui-state-focus { background-color: #D5E5F4; color: #161A1C; }

.fbbutton { line-height: 70px; float: right !important; }





/**********************/ 
/******* FOOTER *******/
/**********************/
#colophon { margin-top: 0px; }
.footer-widgets { position: relative; display: block; border-top: 2px solid #ddd; margin-top: 30px; background: #eee; }
.footer-widgets h3 { color: #333; font-size: 22px; }
.footer-widgets ul { list-style: none; margin: 0; padding: 0; }
.footer-widgets ul li a:hover { color: #000; text-decoration: underline; }






/*Sidebar*/
#secondary h1 { font-size: 24px; }
#secondary ul { margin: 0; padding: 0; }
#secondary ul li { margin: 0; padding: 0; border: 0; font-size: 16px; }
#secondary ul li a:hover { color: #333; text-decoration: underline; }

/*Blog Page*/
body.blog h2 { font-size: 24px; }
body.blog .entry-content img.blogimg { height: 150px; }
body.blog .entry-content .blog-excerpt p { font-size: 16px; font-family: Arial; text-align: justify; }
body.blog .entry-content .blog-excerpt p a.more-link { font-size: 12px; }

/*Single Post*/
body.single .entry-header h1 { font-size: 30px; }
body.single .entry-content p { font-size: 16px; font-family: Arial; }

/*Site Logo*/
.site-title a { font-size: 28px; display: block; margin: 0; padding: 0px; margin-bottom: 10px; }
.site-branding { margin: 0; }
.site-branding h1 { margin: 0; padding-top: 10px; }


/*Slider on Homepage*/
#homepage-slider-fullwidth { width: 100%; height: 370px; margin-top: -20px; background: #55ACEE; border-bottom: 3px solid #32102A; border-top: 2px solid #32102A; }
#homepage-slider-fullwidth .slider-container { width: 1024px; margin: 0 auto; padding-top: 15px; }
#homepage-slider-fullwidth ul.bxslider li img { width: 65%; height: 320px; display: inline-block; float: left; border: 5px solid #eee; border-radius: 4px; }
#homepage-slider-fullwidth ul.bxslider li div { display: inline-block; float: left; }
#homepage-slider-fullwidth ul.bxslider li div h3 { margin: 0; padding: 0; }
div.slide-details { padding: 20px; color: #fff; background: rgba(0, 0, 0, 0.4); width: 35%; height: 195px; }
div.slide-details h3 a { color: #fff; margin: 0; padding: 0; font-size: 24px; }
div.slide-details .details { width: 300px; margin: 0; padding: 0; margin-top: 20px; height: auto; }
div.slide-details .details a.buynowlink { padding: 10px 20px; color: #fff; position: relative; top: 15px; }

/*Specific BxSlider on Homepage*/
.bx-wrapper { position: relative; margin: 0 auto 60px; padding: 0; *zoom: 1; }
.bx-wrapper img { max-width: 100%; display: block; }
.bx-wrapper .bx-viewport { left: -5px; background: #55ACEE; }
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }

.bx-wrapper .bx-pager { text-align: center; font-size: .85em; color: #666; padding-top: 20px; }
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active { background: #000; }
.bx-wrapper .bx-prev:hover { background-position: 0 0; }
.bx-wrapper .bx-next:hover { background-position: -43px 0; }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; }
.bx-wrapper .bx-controls-direction a.disabled { display: none; }

.bx-wrapper .bx-controls-auto { text-align: center; }
.bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; margin: 0 3px; }
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }
.bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }
.bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666\9; background: rgba(80, 80, 80, 0.75); width: 100%; }
.bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }

/*Main Homepage Content*/
.dealtitle { border-bottom: 1px solid #ccc; }
.dealtitle h2 { font-size: 24px; }
.dealtitle .sorter { margin-top: 15px; padding-bottom: 10px; color: #555; font-size: 18px; }
.dealtitle .sorter select.sortby { padding: 3px 6px; color: #555; }

.dealpanel { border: 1px solid #ddd; padding: 0; margin: 10px; width: 23.2%; float: left; }
.dealpanel.featured { background: rgba(215, 225, 44, 0.2); }

.dealpanel .dealimg { text-align: center; }
.dealpanel .dealimg img { width: 100%; height: 160px; }
.dealpanel .dealimg img:hover { opacity: 0.7; }

.dealpanel .dealdetails { width: 100%; padding: 10px; }
.dealpanel .dealdetails h4 { font-size: 1.1em; height: 40px; overflow: hidden; line-height: 1.3em; }

.dealpanel .dealdetails span.price { width: 60%; display: inline-block; float: left; }
.dealpanel .dealdetails span.price b.old-price { color: red; font-size: 16px; text-decoration: line-through }
.dealpanel .dealdetails span.price b.new-price { color: #55ACEE; font-size: 16px; }

.dealpanel .dealdetails span.discount { width: 40%; display: inline-block; float: left; }
.dealpanel .dealdetails span.discount b.save { color: #55ACEE; font-size: 16px; }

.dealpanel .dealdetails span.expire-date { display: inline-block; width: 100%; }
.dealpanel .dealdetails span.buynow { text-align: center; display: inline-block; width: 100%; height: 40px; margin-top: 5px; }
.dealpanel .dealdetails span.buynow a { color: #fff; display: block; line-height: 20px; }

span#show-nationals { color: #3A5795; text-decoration: underline; cursor: pointer; }

/*Single Deal*/
body.single-deals .entry-title { font-size: 30px; }
body.single-deals .entry-header .entry-meta { font-size: 10px !important; color: #555; }
body.single-deals .entry-header .entry-meta a { color: #3A5795; text-decoration: underline; }
body.single-deals .entry-header .entry-meta div.fb-like.deal { margin-left: 40px; }
.subscribe-newsletter { padding: 25px 0; border-top: 1px solid #ddd; }
.subscribe-newsletter p { font-weight: bold; font-style: italic; }

.coupon_discount { color: #F8822B; font-size: 1.5em !important; }
.coupon_discount .cdiscount { font-weight: bold; }

.mainimg img.img.Mondadori { width: auto !important; height: 250px !important; margin: 0 auto !important; }
.mainimg img.img.SmartBox { width: auto !important; height: 250px !important; margin: 0 auto !important; }

.dealimg img.img.Mondadori { width: auto !important; margin: 0 auto; }
.dealimg img.img.SmartBox { width: auto !important; margin: 0 auto; }

.fball_fblike { margin-right: 12px !important; }
.fball_twitter { margin-top: 5px !important; margin-right: 8px; }
.fball_plusone { margin-top: 5px; }
.fball_pinterest { margin-top: 5px !important; }


/*Deals Costum Fields*/
#deal-details .deal-header .buyinfo { margin-top: 10px; }

.deal-header .buyinfo .buydeal { text-align: center; border-radius: 3px;}
.deal-header .buyinfo .buydeal:hover { text-align: center; border-radius: 3px; opacity:0.8;}
.deal-header .buyinfo .buydeal a {  padding: 13px 25px; color: #fff; background: #55ACEE; border-radius: 3px;}

.deal-header .buyinfo .expireinfo { margin-top: 40px; }
.deal-header .buyinfo .expireinfo p { font-size: 18px; color: #666; }
.deal-header .buyinfo .expireinfo p span { font-size: 18px; color: red; font-weight: bold; display: block; }

.deal-header .buyinfo .priceinfo {  }
.deal-header .buyinfo .priceinfo p { font-size: 18px; font-style: italic; }
.deal-header .buyinfo .priceinfo p span { font-size: 18px; font-weight: bold; display: block; }
.deal-header .buyinfo .priceinfo p span.orig { color: red; text-decoration: line-through; }
.deal-header .buyinfo .priceinfo p span.disc { color: #55ACEE; }
.deal-header .buyinfo .priceinfo p span.save { color: #55ACEE; }

.deal-header .buyinfo .extrainfo { margin-top: 20px; }
.deal-header .buyinfo .extrainfo p { float: left; font-style: italic; font-size: 18px; }
.deal-header .buyinfo .extrainfo p span { font-weight: bold; }

#deal-details .deal-content { margin-top: 20px; margin-bottom: 20px; }

/*Sidebar on Single Deal*/
.related-posts-container { background: #F3F781; }
.related-posts-container h4.related-posts { font-weight: bold; color: #555; border-bottom: 1px dotted #777; font-size: 24px; }
.related-posts-container .related-post-deal { margin-bottom: 20px; background: #F3F781; }
.related-posts-container .related-post-deal img { width: 100%; height: 170px; }
.related-posts-container .related-post-deal h4 { font-size: 18px; padding: 0 15px !important; padding-bottom: 15px !important; }

/*Deals Archive Page*/
.alldeals .dealimg { text-align: center; }
.alldeals .dealimg img { width: 100%; height: 160px; }
.alldeals .dealimg img:hover { opacity: 0.7; }
.alldeals .dealdetails h4 { font-size: 1.1em; height: 40px; overflow: hidden; line-height: 1.3em; }
div.navigation-links { margin-top: 30px; }
div.navigation div { border: 2px solid #3A5795; padding: 5px; border-radius: 4px; width: 150px; text-align: center; font-size: 16px; }
div.navigation div:hover { border: 2px solid white; background: #3A5795; color: white !important; }
div.navigation div a { display: block; }
div.navigation div a:hover { color: #fff; }

/*Frontend User Login/Register/Profile*/
.pippin_errors { padding: 8px; border: 1px solid #f50; margin: 0 0 15px; }
.mandatory-fields { font-size: 16px; }
.login-register { margin-top: 20px; border: none; }
.login-register .toggle-content li { float: left !important; width: 50%; text-align: center; }
.login-register .toggle-content li a { color: #fff; background: #3A5795; }
.login-register .toggle-content li a:hover { color: #fff; background: #31549E; }
.login-register .tab-content { margin: 10px 0; }
.login-register .tab-content .active { padding: 20px; }
.personalise-experience { font-size: 18px; }


/*Contest Page Layout*/
body.page-id-8659 { overflow-x: hidden; }
body.page-id-8659 .site-content.container { max-width: 768px; margin: 0 auto; }

.contestpage { z-index: 10 !important; position: relative !important; margin-bottom: 30px; display: block; margin-left: -200em; margin-right: -200em; margin-top: -20px; padding-top: 30px; padding-left: 200em; padding-right: 200em; background: #55ACEE; }
.contestpage h1 { color: #fff; font-size: 2em; }
.contestpage p { color: #fff; }

.cpmaindiv { margin: 20px 0; font-size: 20px; width: 100%; height: auto; padding-bottom: 50px; }

.cpmaindiv .contestimage { width: 55%; display: inline-block; float: left; }
.cpmaindiv .contestimage img { border: 4px solid #fff !important; border-radius: 8px !important; }

.cpmaindiv .contestdetails { width: 45%; display: inline-block; padding: 20px; float: left; background: rgba(0, 0, 0, 0.4); color: #fff; }
.cpmaindiv .maintext { margin: 10px; }
.cpmaindiv .mainbtn { margin: 10px 0 30px 0; }
.cpmaindiv .cpregister { margin-top: 30px; width: 100%; padding: 0 20%; border-top: 2px solid #ddd; margin: 0 auto; }
.cpmaindiv .invitefb { margin: 10px 0 20px 0; }
.cpmaindiv .messagesent { padding: 20px; }
.cpmaindiv .fbcommentsandshare { display: block; width: 100%; clear: both; padding-top: 30px; }

#onlyloggedin { display: none; }
body.logged-in #onlyloggedin { display: block; }

.cpmaindiv .invitefriends { margin-bottom: 20px; }
.cpmaindiv .invitefriends input { margin: 5px 0; clear: both; margin: 5px auto !important; display: block !important; }
.cpmaindiv .invitefriends input[type="submit"] { border: 1px solid #55ACEE; background: #55ACEE; color: #fff; }
.cpmaindiv .invitefriends input[type="submit"]:disabled { background: rgba(0, 0, 0, 0.7); cursor: auto; }
.cpmaindiv .invitefriends input[type="submit"]:hover { opacity: 0.8; }

.cpmaindiv .show3image { margin: 10px 0; }
.cpmaindiv .show3image .cpButtons { padding: 6px 20px; cursor: pointer; }
.cpmaindiv .show3image input[type="submit"] { margin-top: 30px; padding: 6px 20px; border: 1px solid #55ACEE !important; background: #55ACEE !important; border-radius: 4px !important; }

.cpButtons { padding: 3px 16px; background: #55ACEE; border-radius: 4px; display: inline-block; margin-bottom: 5px; margin-right: 10px; color: #fff !important; }
.cpButtons:focus { color: #fff !important; }
.cpButtons:hover { opacity: 0.8; color: #fff; }

.cpmaindiv .fball_ui { display: inline-block; padding: 3px 16px; width: auto; background: #EDEDED; border: 2px solid #AAAAAA; }
.cpmaindiv .fball_ui span { color: #3A5795 !important; }

.cpmaindiv .subscribediv { max-width: 240px; margin: 20px auto; }

.mc4wp-form label { font-weight: normal; }
.mc4wp-form input[type="text"] { padding: 5px; border: none; color: #333; }
.mc4wp-form input[type="email"] { padding: 5px; border: none; color: #333; }
.mc4wp-form input[type="submit"] { padding: 5px 15px; background: #EDEDED; color: #333; border: none; }
 

@media (max-width: 767px){
    .contestimage { width:100% !important; display: block !important; }
    .contestdetails { width: 100% !important; display: block !important; }
}



/*buynow*/
.buynow {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17.5px;
  background: #55ACEE;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buynow:hover {
  background: #55ACEE;
  opacity: 0.8;
  text-decoration: none;
}

.buynowlink {
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17.5px;
  background: #55ACEE;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buynowlink:hover {
  background: #55ACEE;
  opacity: 0.8;
  text-decoration: none;
}


/*POPUP*/
#popup {
    display: none;
    opacity: 0;
    margin-top: -200px;
}

#popup:target {
    display:block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    z-index: 99999999999;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    transition:all 1s;
}

@media (min-width: 768px){
    .popup-container {
        width:400px;
    }
}

@media (max-width: 767px){
    .popup-container {
        width:100%;
    }
}

.popup-container {
    position: relative;
    margin:7% auto;
    padding:15px 30px;
    background-color: #ddd;
    color:#fff;
}

.popup-container label { color: #333; }
.popup-container .pippin_errors span { color: red; } 

a.popup-close {
    position: absolute;
    top:3px;
    right:3px;
    background-color: #fff;
    padding:7px 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 1;
    color:#333;
}

/*hide popup when user is logged in*/
body.logged-in #popup { display: none !important; }


#stores { position: fixed; top: 220px !important; left: 0px !important; width: 100px; display: none !important; }
#stores img { height: 170px; width: auto; }


/*RESPONSIVE DESIGN*/

/*width < 991px*/
@media (max-width: 991px) {
  #homepage-slider-fullwidth { display: none; }
  .dealpanel { width: 100%; margin: 15px auto; }
  .scroll-back-to-top-wrapper { display: none !important; }
  .navbar.navbar-default { display: none !important; }
  .widget .input-group { width: 100% !important; }
  #deal-details .deal-header .buyinfo { margin-top: 30px; }
  .change-city-label { display: none; }
  #stores { display: none; }
  /*TopHeader*/
  #topHeader .socials { display: none; }
  #topHeader .searchform { display: none; }
  #topHeader #loginDiv { display: none !important; }
}

/*481px < width < 990px*/
@media (min-width: 481px) and (max-width: 990px) {
  /*Single Deal*/
  .fb-like.deal { margin: 10px 0; }
  body.single { width: 100%; overflow-x: hidden; }
}

/*width < 480px*/
@media (max-width: 480px) {
  /*City Changer*/
  #masthead .site-branding { width: 100%; }
  #masthead .header-middle { margin: 0; width: 100%; }
  #masthead form.chose-your-city { margin: 0; padding: 0; }
  #masthead form.chose-your-city input { width: 100%; margin: 5px auto; }
  #change-city-container { width: 100% !important; text-align: center; display: block !important; clear: both; margin: 6px 0; padding: 5px 0; background: #eee; position: relative; z-index: 10; }
  #change-city-container .city-changer { width: 98%; text-align: center; display: block; position: relative; margin: 0 auto; }
  .city-changer .ui-autocomplete-input { width: auto !important; }
  .other-deals-changer { width: 100% !important; text-align: center; display: block !important; clear: both; margin: 5px 0; }
  .other-deals-changer #national-deals { width: 100%; padding: 8px; display: block; margin: 5px 0; }
  .other-deals-changer #national-deals:hover { padding: 8px; }
  .other-deals-changer #your-city-deals { width: 100%; padding: 8px; display: block; margin: 5px 0; }
  .other-deals-changer #your-city-deals:hover { padding: 8px; }
  .city-name br { margin: 0 !important; padding: 0 !important; height: 0 !important; display: none !important; }
  /*Single Deal*/
  .fb-like.deal { margin: 10px 0; }
  body.single { width: 100%; overflow-x: hidden; }
  .ads { display: none !important; }
  /*TopHeader*/
  #topHeader { text-align: center; top: 0; }
  #topHeader .account { width: 100%; margin: 0 auto; }
  #topHeader .accountbtn { display: block; margin: 2px auto; }
  #topHeader .accountbtn a { padding: 3px 20px; }
}