﻿/*GENERAL STYLE*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.lpgrid:after { content: ""; display: table; clear: both; }
.lpcontainer * { color: #222; font-family: Arial; }
.lpheader, .lpcta, .lpbox, .lphowto { display: block; width: 100%; clear: both; overflow-x: hidden; }

.lpheadimg { display: inline-block; width: 60%; float: left; }
.lpheadcontent { display: inline-block; width: 40%; float: left; }

.lpheadimg img.lpincentive { padding: 30px; padding-bottom: 0; }

.lpheader { padding: 20px; background: #eee; }
.lpheader .lpbox { background: #007295; padding: 20px; }
.lpheader .lpbox h1 { font-size: 1.6em; padding: 0; margin: 0; margin-bottom: 20px; color: #eee; }
.lpheader .lpbox p { font-size: 1.2em; color: #eee; }

.lphowto .lpstep { background: #F7F7F7; padding: 20px; }
.lphowto .lpstep h4 { padding: 0; margin: 0; margin-bottom: 20px; font-size: 1.4em; }
.lphowto .lpstep h4 span.lpcircle { padding: 10px 15px; border-radius: 100%; background: #86B500; color: #eee; margin-right: 15px; }

/*CTA Button*/
.lpcta { margin-top: 10px; margin-bottom: 10px; text-align: center; }
.lpcta a.ctabuynow { text-decoration: none; color: #fff; background: #86B500; font-size: 1.6em; padding: 15px; display: block; }

/*RESPONSIVE DESIGN*/
@media (max-width: 890px) {
	.lpheader { padding: 0; }
    .lpheadimg, .lpheadcontent { content: ""; display: table; clear: both; display: block; width: 100%; }
    .lpheadimg img.lpmainimg { display: block; width: 100%; height: auto; }
}