@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-hy6h4y');
	src:url('fonts/icomoon.eot?#iefix-hy6h4y') format('embedded-opentype'),
		url('fonts/icomoon.woff?-hy6h4y') format('woff'),
		url('fonts/icomoon.ttf?-hy6h4y') format('truetype'),
		url('fonts/icomoon.svg?-hy6h4y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ab-"], [class*=" ab-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ab-travel:before {
	content: "\e608";
}

.ab-currency:before {
	content: "\e607";
}

.ab-compara:before {
	content: "\e600";
}

.ab-coupon:before {
	content: "\e601";
}

.ab-ebook:before {
	content: "\e602";
}

.ab-omaggio:before {
	content: "\e603";
}

.ab-sconti:before {
	content: "\e604";
}

.ab-sondaggi:before {
	content: "\e605";
}

.ab-volantini:before {
	content: "\e606";
}

